<template>
  <div>
    <b-container>
      <h4>Delivery Address</h4>
      {{ form.address_id }}

      <template v-if="user.contacts && user.contacts.length">
        <b-form-group label="Select Address">
          <b-form-radio
            v-for="address in user.contacts"
            :key="address.id"
            v-model="form.contact_id"
            :value="address.id"
            name="id">
            <h4>{{ address.title }} </h4>
            <p>
              {{ address.address_1 }} - {{ address.city }} - {{ address.state }} - {{ address.country }} - {{ address.postal_code }}
              <b-badge
                v-if="address.default"
                pill
                variant="primary">
                Default
              </b-badge>
            </p>
          </b-form-radio>
        </b-form-group>
        <hr>
      </template>
      <b-row class="justify-content-between">
        <b-col cols="auto">
          <b-button
            variant="primary"
            @click="showModalAddAddress=true">
            Insert new address
          </b-button>
        </b-col>
        <b-col cols="auto">
          <b-button
            v-if="user.contacts && user.contacts.length"
            variant="success"
            :disabled="!form.contact_id || loading"
            @click="goToConfirmPage">
            Continue
          </b-button>
        </b-col>
      </b-row>
      <ModalAddAdress
        v-model="showModalAddAddress"
        @setAdressId="form.contact_id=$event;goToConfirmPage()" />
    </b-container>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

import ModalAddAdress from './Components/ModalAddAdress';
export default {
  name: 'Contacts',
  components: {
    ModalAddAdress,
  },
  data() {
    return {
      form: {
        contact_id: '',
      },
      showModalAddAddress: false,
      loading: false,
    };
  },
  computed: {
    ...mapGetters('auth', [
      'user',
    ]),
  },
  beforeRouteEnter(to, from, next) {
    if (from.name !== 'Cart') {
      next({ name: 'Cart' });
    } else {
      next();
    }
  },
  created() {
    const defaultAddress = this.user.contacts.find(i => i.default);
    if (defaultAddress) {
      this.form.contact_id = defaultAddress.id;
    }
  },
  methods: {
    goToConfirmPage() {
      this.$router.push({ name: 'Confirm', query: { contact_id: this.form.contact_id } });
    },
  },
};
</script>
