<template>
  <div>
    <b-container
      fluid
      class="px-5">
      <b-row>
        <b-col
          v-for="item in pizzaList"
          :key="item.id"
          cols="12"
          md="6"
          lg="4"
          xl="3"
          class="mb-3">
          <PizzaCard
            :item="item" />
        </b-col>
      </b-row>
      <div v-if="loading && !loaded">
        Loading..
      </div>
    </b-container>
  </div>
</template>

<script>
import PizzaCard from './Components/PizzaCard';
import * as $ from '@/store/modules/PizzaList/actions-types.js';
import { mapActions, mapState, mapGetters } from 'vuex';
export default {
  name: 'HomePage',
  components: {
    PizzaCard,
  },
  data() {
    return {
      loading: false,
      loaded: false,
    };
  },
  computed: {
    ...mapState('PizzaList', [
      'pizzaList',
    ]),
    ...mapGetters('Main', [
      'currentCurrencyId',
    ]),
  },
  watch: {
    currentCurrencyId: {
      handler(newVal, oldVal) {
        // only if real change currency
        if (oldVal !== null) {
          this.loadList();
        }
      },
    },
  },
  created() {
    this.loadList();
  },
  methods: {
    ...mapActions('PizzaList', [
      $.LAOD_PIZZA_ITEMS,
    ]),
    async loadList() {
      this.loading = true;
      const res = await this[$.LAOD_PIZZA_ITEMS]();
      if (res.success) {
        this.loaded = true;
      }
      this.loading = false;
    },
  },
};
</script>

<style lang="stylus" module="$s">

</style>
