<template>
  <b-modal
    id="modal-prevent-closing"
    :visible="value"
    title="Add new address"
    :ok-disabled="loading"
    @hidden="hidden"
    @open="resetForm"
    @ok="saveAddress">
    <b-form class="mt-3">
      <b-row>
        <b-col cols="6">
          <b-form-group
            label="Title"
            label-for="title"
            :invalid-feedback="getInvalidFeedback('title')">
            <b-form-input
              id="title"
              v-model="form.title"
              type="text"
              :state="getInvalidFeedback('title')!=='' ? false : undefined"
              required
              placeholder="Enter title" />
          </b-form-group>
        </b-col>
        <b-col cols="6">
          <b-form-group
            label="Phone number"
            label-for="phone"
            :invalid-feedback="getInvalidFeedback('phone')">
            <b-form-input
              id="phone"
              v-model="form.phone"
              type="text"
              :state="getInvalidFeedback('phone')!=='' ? false : undefined"
              required
              placeholder="Enter phone" />
          </b-form-group>
        </b-col>
        <b-col cols="12">
          <b-form-group
            id="address_1"
            label="Address line 1"
            label-for="address_1"
            :invalid-feedback="getInvalidFeedback('address_1')">
            <b-form-input
              id="address_1"
              v-model="form.address_1"
              :state="getInvalidFeedback('address_1')!=='' ? false : undefined"
              required
              placeholder="Address line one" />
          </b-form-group>
        </b-col>
        <b-col cols="12">
          <b-form-group
            id="address_2"
            :invalid-feedback="getInvalidFeedback('address_2')">
            <b-form-input
              id="address_2"
              v-model="form.address_2"
              :state="getInvalidFeedback('address_2')!=='' ? false : undefined"
              placeholder="Address line 2" />
          </b-form-group>
        </b-col>
        <b-col cols="6">
          <b-form-group
            id="city"
            label="City"
            label-for="city"
            :invalid-feedback="getInvalidFeedback('city')">
            <b-form-input
              id="city"
              v-model="form.city"
              :state="getInvalidFeedback('city')!=='' ? false : undefined"
              required
              placeholder="City" />
          </b-form-group>
        </b-col>
        <b-col cols="6">
          <b-form-group
            id="state"
            label="State"
            label-for="state"
            :invalid-feedback="getInvalidFeedback('state')">
            <b-form-input
              id="state"
              v-model="form.state"
              :state="getInvalidFeedback('state')!=='' ? false : undefined"
              required
              placeholder="State" />
          </b-form-group>
        </b-col>
        <b-col cols="6">
          <b-form-group
            id="country"
            label="Country"
            label-for="country"
            :invalid-feedback="getInvalidFeedback('country')">
            <b-form-input
              id="country"
              v-model="form.country"
              :state="getInvalidFeedback('country')!=='' ? false : undefined"
              required
              placeholder="Country" />
          </b-form-group>
        </b-col>
        <b-col cols="6">
          <b-form-group
            id="postal_code"
            label="Postal code"
            label-for="postal_code"
            :invalid-feedback="getInvalidFeedback('postal_code')">
            <b-form-input
              id="postal_code"
              v-model="form.postal_code"
              :state="getInvalidFeedback('postal_code')!=='' ? false : undefined"
              required
              placeholder="Postal code" />
          </b-form-group>
        </b-col>
      </b-row>
    </b-form>
  </b-modal>
</template>

<script>
import { cloneDeep } from 'lodash-es';
import * as $ from '@/store/modules/Order/actions-types.js';
import { mapActions } from 'vuex';
export default {
  name: 'ModalAddAdress',
  props: {
    value: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      loading: false,
      formDefault: {
        title: '',
        phone: '',
        address_1: '',
        city: '',
        state: '',
        postal_code: '',
        country: '',
      },
      form: {
        title: '',
        phone: '',
        address_1: '',
        city: '',
        state: '',
        postal_code: '',
        country: '',
        default: 1,
      },
      errors: {},
    };
  },
  methods: {
    ...mapActions('Order', [
      $.ADD_CONTACT,
    ]),
    ...mapActions('auth', [
      'attempt',
    ]),
    async saveAddress(e) {
      e.preventDefault();
      if (this.loading) return;
      this.errors = {};
      this.loading = true;
      const res = await this[$.ADD_CONTACT](this.form);
      if (res.success) {
        // reload /me for get new contacts
        await this.attempt();
        this.$emit('setAdressId', res.data.data.id);
        this.hidden();
        this.ADD_NOTICE({ body: 'Address added', type: 'success' });
      } else {
        this.errors = res.errors && res.errors.errors ? res.errors.errors : {};
      }
      this.loading = false;
    },
    getInvalidFeedback(fieldName) {
      let res = '';
      if (this.errors[fieldName] && typeof this.errors[fieldName] === 'object')res = this.errors[fieldName][0];
      return res;
    },
    hidden(id) {
      this.resetForm();
      this.$emit('input', false);
    },
    resetForm() {
      this.form = cloneDeep(this.formDefault);
    },
  },
};
</script>

<style lang="stylus" module="$s">
</style>
