<template>
  <b-nav-item-dropdown
    v-if="currencies!==null && currentCurrency"
    :text="`${currentCurrency.code}`"
    :disabled="!currencies.length || loadingChange"
    right>
    <b-dropdown-item
      v-for="itemCurrency in currencies"
      :key="itemCurrency.id"
      :disabled="currentCurrency.id===itemCurrency.id"
      @click="setCurrency(itemCurrency)">
      {{ itemCurrency.code }}
    </b-dropdown-item>
  </b-nav-item-dropdown>
</template>

<script>
import { mapState, mapActions, mapGetters, mapMutations } from 'vuex';
import * as $ from '@/store/modules/Main/actions-types.js';
import * as _ from '@/store/modules/Main/mutations-types.js';
export default {
  name: 'CurrencyPicker',
  data() {
    return {
      loadingChange: false,
    };
  },
  computed: {
    ...mapState('Main', [
      'currencies',
    ]),
    ...mapGetters('Main', [
      'currentCurrency',
    ]),
  },
  created() {
    this[$.LOAD_CURRENCIES]();
  },
  methods: {
    ...mapActions('Main', [
      $.LOAD_CURRENCIES,
    ]),
    ...mapMutations('Main', [
      _.SET_CURRENCY,
    ]),
    setCurrency(item) {
      this[_.SET_CURRENCY](item.id);
      this.ADD_NOTICE('Currency changed');
    },
  },
};
</script>

<style lang="stylus" module="$s">
</style>
