<template>
  <b-nav-item-dropdown
    v-if="cart"
    ref="dropdown"
    text="Cart"
    right>
    <b-dropdown-item
      v-if="cartLoading">
      Loading...
    </b-dropdown-item>
    <template v-else-if="cart.items.length">
      <div :class="$s.tableBlock">
        <table class="table table-striped">
          <tr
            v-for="item in cart.items"
            :key="item.id">
            <td>
              <img
                :src="require(`@/assets/img/pizza/${item.image}`)"
                height="50">
            </td>
            <td>{{ item.title }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.price }}</td>
          </tr>
        </table>
      </div>
      <table class="table mb-0">
        <tr>
          <td>Sub total </td>
          <td> {{ cart.summary.subtotal }}</td>
        </tr>
        <tr>
          <td>Shipping</td>
          <td> {{ cart.summary.shipping }}</td>
        </tr>
        <tr>
          <td>
            <strong>Total</strong>
          </td>
          <td> {{ cart.summary.total }}</td>
        </tr>
      </table>
      <hr class="mt-0">
      <b-button
        class="ml-2"
        variant="outline-primary"
        :to="{name:'Cart'}"
        @click="onClick">
        Go to Cart
      </b-button>
    </template>
    <b-dropdown-item v-else>
      Cart empty
    </b-dropdown-item>
  </b-nav-item-dropdown>
</template>

<script>
import { mapState, mapGetters, mapActions } from 'vuex';
import * as $ from '@/store/modules/PizzaList/actions-types.js';
export default {
  name: 'DropdownCart',
  computed: {
    ...mapState('PizzaList', [
      'cart',
      'cartLoading',
    ]),
    ...mapGetters('Main', [
      'currentCurrencyId',
    ]),
  },
  watch: {
    currentCurrencyId: {
      handler(newVal, oldVal) {
        // only if real change currency
        if (oldVal !== null) {
          this[$.GET_CART]();
        }
      },
    },
  },
  methods: {
    ...mapActions('PizzaList', [
      $.GET_CART,
    ]),
    onClick() {
      this.$refs.dropdown.hide(true);
    },
  },
};
</script>

<style lang="stylus" module="$s">
.tableBlock
  max-height: 30vh;
  overflow: auto;
</style>
