<template>
  <div>
    <b-container>
      <template v-if="cart && cart.items.length">
        <h3>Cart Items</h3>
        <table class="table table-striped">
          <tr>
            <th />
            <th />
            <th class="sr-hide">Quantity</th>
            <th class="sr-hide">price</th>
            <th class="sr-hide">Total</th>
            <th class="sr-hide" />
          </tr>
          <tr
            v-for="order in cart.items"
            :key="order.id">
            <td class="item_image">
              <img
                :src="require(`@/assets/img/pizza/${order.image}`)"
                width="100%">
              <b-button :disabled="loading" variant="danger" @click="removeFromCart(order)" class="sr-show btn-block">x</b-button>
            </td>
            <td>
              {{ order.title }}
                <b-input-group :class="$s.countBlock" class="sr-show">
                  <b-form-input
                          v-model="quantityObject[order.id]"
                          :disabled="loading"
                          type="number"
                          min="1" />
                  <b-input-group-append>
                    <b-button
                            :disabled="loading || quantityObject[order.id]===order.quantity"
                            variant="info"
                            @click="saveQuantity(order,quantityObject[order.id])">
                      save
                    </b-button>
                  </b-input-group-append>
                </b-input-group>
              <p class="sr-show">
                <strong>Price: </strong>{{ order.price }}
              </p>
              <p class="sr-show">
                <strong>Total: </strong>{{ order.total_cost }}
              </p>

            </td>
            <td class="sr-hide">
              <b-input-group :class="$s.countBlock">
                <b-form-input
                  v-model="quantityObject[order.id]"
                  :disabled="loading"
                  type="number"
                  min="1" />
                <b-input-group-append>
                  <b-button
                    :disabled="loading || quantityObject[order.id]===order.quantity"
                    variant="info"
                    @click="saveQuantity(order,quantityObject[order.id])">
                    save
                  </b-button>
                </b-input-group-append>
              </b-input-group>
            </td>
            <td class="sr-hide">{{ order.price }}</td>
            <td class="sr-hide">{{ order.total_cost }}</td>
            <td class="sr-hide">
              <b-button
                :disabled="loading"
                variant="danger"
                @click="removeFromCart(order)">
                x
              </b-button>
            </td>
          </tr>
        </table>
        <hr>
        <b-row>
          <b-col class="text-right">Subtotal</b-col>
          <b-col>{{ cart.summary.subtotal }}</b-col>
        </b-row>
        <b-row>
          <b-col class="text-right">Delivery</b-col>
          <b-col>{{ cart.summary.shipping }}</b-col>
        </b-row>
        <b-row>
          <b-col class="text-right">Total</b-col>
          <b-col>{{ cart.summary.total }}</b-col>
        </b-row>
        <hr>
        <b-button
          class="mb-5"
          variant="outline-success"
          :to="{name:'Contacts'}">
          Place the order
        </b-button>
      </template>
      <template v-else>
        <b-alert
          show
          variant="warning">
          Your cart is empty!
        </b-alert>
      </template>
    </b-container>
  </div>
</template>
<script>

import { mapState, mapActions } from 'vuex';
import * as $ from '@/store/modules/PizzaList/actions-types.js';

export default {
  name: 'Cart',
  data() {
    return {
      quantityObject: {},
      loading: false,
    };
  },
  computed: {
    ...mapState('PizzaList', [
      'cart',
    ]),
  },
  watch: {
    cart: {
      deep: true,
      immediate: true,
      handler(newVal) {
        this.quantityObject = newVal.items.reduce((prevVal, item) => {
          prevVal[item.id] = item.quantity;
          return prevVal;
        }, {});
      },
    },
  },
  methods: {
    ...mapActions('PizzaList', [
      $.UPDATE_ITEM_IN_CART,
      $.REMOVE_ITEM_IN_CART,
    ]),
    async saveQuantity(item, count) {
      this.loading = true;
      const res = await this[$.UPDATE_ITEM_IN_CART]({
        id: item.id,
        quantity: count,
      });
      if (res.success) {
        this.ADD_NOTICE({ body: 'Count update', type: 'success' });
      } else {
        this.ADD_NOTICE({ body: 'Something wrong', type: 'danger' });
      }
      this.loading = false;
    },
    async removeFromCart(item, count) {
      this.$bvModal.msgBoxConfirm('Are you sure?')
        .then(async (value) => {
          if (value) {
            this.loading = true;
            const res = await this[$.REMOVE_ITEM_IN_CART](item.id);
            if (res.success) {
              this.ADD_NOTICE({ body: 'Removed success', type: 'success' });
            } else {
              this.ADD_NOTICE({ body: 'Something wrong', type: 'danger' });
            }
            this.loading = false;
          }
        })
        .catch(err => {
          console.warn(err);
        });
    },
  },
};
</script>

<style lang="stylus" module="$s">
.countBlock
  max-width:150px
</style>
<style>
  @media (min-width: 480px)
  {
    .sr-show{
      display: none;
    }
    .item_image {
      width: 20%;
    }

  }
  @media (max-width: 480px)
  {
    .sr-hide{
      display: none;
    }
    .item_image {
      width: 30%;
    }

  }
</style>
