<template>
  <div>
    <b-container>
      <h4>Delivery address</h4>
      <p>
        <strong>Home</strong> {{ currentContact.address_1 }}, {{ currentContact.postal_code }}
        <br>
        <strong>Phone</strong> {{ currentContact.phone }}
      </p>
      <hr>
      <template v-if="cart && cart.items.length">
        <h3>Confirm Order</h3>
        <table class="table table-striped">
          <tr>
            <th />
            <th />
            <th class="sr-hide">Quantity</th>
            <th class="sr-hide">price</th>
            <th class="sr-hide">Total</th>
          </tr>
          <tr v-for="order in cart.items" :key="order.id">
            <td class="item_image">
              <img
                      :src="require(`@/assets/img/pizza/${order.image}`)"
                      width="100%">
            </td>
            <td>
              {{ order.title }}
              <p class="sr-show">
                <strong>Quantity: </strong>{{ order.quantity }}
              </p>
              <p class="sr-show">
                <strong>Price: </strong>{{ order.price }}
              </p>
              <p class="sr-show">
                <strong>Total: </strong>{{ order.total_cost }}
              </p>
            </td>
            <td class="sr-hide">{{ order.quantity }}</td>
            <td class="sr-hide">{{ order.price }}</td>
            <td class="sr-hide">{{ order.total_cost }}</td>
          </tr>
        </table>
        <hr>
        <b-row>
          <b-col class="text-right">Subtotal</b-col>
          <b-col>{{ cart.summary.subtotal }}</b-col>
        </b-row>
        <b-row>
          <b-col class="text-right">Delivery</b-col>
          <b-col>{{ cart.summary.shipping }}</b-col>
        </b-row>
        <b-row>
          <b-col class="text-right">Total</b-col>
          <b-col>{{ cart.summary.total }}</b-col>
        </b-row>
        <hr>
        <b-button
          variant="outline-success"
          @click="createOrder">
          Checkout
        </b-button>
      </template>
      <template v-else>
        <b-alert
          show
          variant="warning">
          Your cart is empty!
        </b-alert>
      </template>
    </b-container>
  </div>
</template>
<script>

import { mapState, mapActions } from 'vuex';

import * as $ from '@/store/modules/Order/actions-types.js';
export default {
  name: 'Confirm',
  beforeRouteEnter(to, from, next) {
    if (from.name !== 'Contacts' || !to.query.contact_id) {
      next({ name: 'Contacts' });
    } else {
      next();
    }
  },
  computed: {
    ...mapState('auth', [
      'user',
    ]),
    ...mapState('PizzaList', [
      'cart',
    ]),
    currentContact() {
      const res = this.user.contacts.find(i => i.id === +this.$route.query.contact_id);
      if (!res) {
        // eslint-disable-next-line vue/no-side-effects-in-computed-properties
        this.$router.push({ name: 'Cart' });
        this.ADD_NOTICE('Could not find contact');
      }
      return res;
    },
  },
  methods: {
    ...mapActions('Order', [
      $.CREATE_ORDER,
    ]),
    async createOrder() {
      const confirm = await this.$bvModal.msgBoxConfirm('This will finalize the order, Are you sure?');
      const data = {
        contact_id: this.currentContact.id,
      };
      if (confirm) {
        this.loading = true;
        const res = await this[$.CREATE_ORDER](data);
        if (res.success) {
          this.ADD_NOTICE({ body: 'Order create success', type: 'success' });
          this.$router.push({ name: 'Orders', query: { created_id: res.data.data.id } });
        } else {
          this.ADD_NOTICE({ body: 'Somethink wrong', type: 'danger' });
        }
        this.loading = false;
      }
    },
  },
};
</script>
<style>
  @media (min-width: 480px)
  {
    .sr-show{
      display: none;
    }
    .item_image {
      width: 20%;
    }

  }
  @media (max-width: 480px)
  {
    .sr-hide{
      display: none;
    }
    .item_image {
      width: 30%;
    }

  }
</style>
