<template>
  <div>
    <b-container>
      <b-alert
        v-if="createdOrder"
        show
        dismissible
        variant="success"
        @dismissed="hideAlert">
        Payment success!, your order on its way
        <div> Order number : {{ createdOrder.id }}</div>
        <div> Date: {{ createdOrder.date }}</div>
      </b-alert>
      <template v-if="ordersList.length">
        <h3>Orders</h3>
        <table class="table table-striped">
          <tr>
            <th>Items</th>
            <th class="sr-show"></th>
            <th class="sr-hide">Date</th>
            <th class="sr-hide">Subtotal</th>
            <th class="sr-hide">Delivery</th>
            <th class="sr-hide">Total</th>
            <th class="sr-hide">Status</th>
          </tr>
          <tr
            v-for="order in ordersList"
            :key="order.id">

            <td>
              <table>
                <tr
                  v-for="orderItem in order.items"
                  :key="orderItem.id+'_'+order.id">
                  <td>
                    <img
                      :src="require(`@/assets/img/pizza/`+orderItem.image)"
                      height="50">
                  </td>
                  <td>
                    {{ orderItem.title }}<br>
                    {{ orderItem.quantity }}
                  </td>
                </tr>
              </table>
            </td>
            <td class="sr-show">
              <p>{{ order.date }}</p>
              <p><b-badge :variant="statusColors[order.status]">{{ order.status}}</b-badge></p>
              <p><strong>Subtotal: </strong>{{ order.subtotal }}</p>
              <p><strong>Delivery: </strong>{{ order.subtotal }}</p>
              <p><strong>Total: </strong>{{ order.subtotal }}</p>
            </td>
            <td class="sr-hide">{{ order.date }}</td>
            <td class="sr-hide">{{ order.subtotal }}</td>
            <td class="sr-hide">{{ order.shipping_cost }}</td>
            <td class="sr-hide">{{ order.total }}</td>
            <td class="sr-hide"><b-badge :variant="statusColors[order.status]">{{ order.status}}</b-badge></td>
          </tr>
        </table>
      </template>
      <div v-else-if="loadingList && !loadedList">
        Loading...
      </div>
      <template v-else>
        <b-alert
          show
          variant="warning">
          Your have no orders!
        </b-alert>
      </template>
    </b-container>
  </div>
</template>
<script>

import { mapActions, mapState, mapGetters } from 'vuex';

import * as $ from '@/store/modules/Order/actions-types.js';
export default {
  name: 'Orders',
  data() {
    return {
      statusColors: {
        'On its way': 'warning',
        Canceled: 'secondary',
        Delivered: 'success',
      },
    };
  },
  computed: {
    ...mapState('Order', [
      'ordersList',
      'loadedList',
      'loadingList',
    ]),
    ...mapGetters('Main', [
      'currentCurrencyId',
    ]),
    createdOrder() {
      let res = null;
      if (this.$route.query.created_id && this.loadedList) {
        res = this.ordersList.find(i => i.id === +this.$route.query.created_id);
      }
      return res;
    },
  },
  watch: {
    currentCurrencyId: {
      handler(newVal, oldVal) {
        if (oldVal !== null) {
          this.loadList();
        }
      },
    },
  },
  created() {
    this.loadList();
  },
  methods: {
    ...mapActions('Order', [
      $.LOAD_ORDERS,
    ]),
    async loadList() {
      this[$.LOAD_ORDERS]();
    },
    hideAlert() {
      this.$router.replace({
        ...this.$route.query,
        created_id: undefined,
      });
    },
  },
};
</script>
<style>
  @media (min-width: 480px)
  {
    .sr-show{
      display: none;
    }
    .item_image {
      width: 20%;
    }

  }
  @media (max-width: 480px)
  {
    .sr-hide{
      display: none;
    }
    .item_image {
      width: 30%;
    }

  }
</style>
