<template>
  <b-container class="bv-example-row">
    <b-row>
      <b-col
        md="4"
        offset-md="4">
        <b-card
          bg-variant="light"
          header="Sign in">
          <b-card-text>
            <b-form
              bg-info
              @submit.prevent="submit">
              <b-form-group
                id="email"
                label="Email address:"
                label-for="email">
                <b-form-input
                  id="email"
                  v-model="form.email"
                  type="email"
                  required
                  placeholder="Enter email" />
              </b-form-group>
              <b-form-group
                id="password"
                label="Password:"
                label-for="password">
                <b-form-input
                  id="password"
                  v-model="form.password"
                  type="password"
                  required />
              </b-form-group>
              <b-button
                type="submit"
                :disabled="loading"
                variant="primary">
                Sign in
              </b-button>
            </b-form>
          </b-card-text>
        </b-card>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import * as $ from '@/store/modules/PizzaList/actions-types.js';
export default {
  name: 'SignIn',
  components: {
    //
  },
  data() {
    return {
      form: {
        email: 'info@pizzitta.test',
        password: 'password',
      },
      loading: false,
    };
  },
  computed:{
  	...mapGetters('PizzaList', [
      'getSignInCartItem',
    ]),
  },
  methods: {
    ...mapActions({
      signIn: 'auth/signIn',
    }),
    ...mapActions('PizzaList', [
      $.ADD_TO_CART,$.SET_SIGNIN_CART_ITEM,
    ]),
    async submit() {
      this.loading = true;
      this.signIn(this.form).then(() => {
       	if(this.getSignInCartItem.hasOwnProperty('id'))
       	this.addToCart()

        this.$router.replace({
          name: 'Home',
        })
      }).catch(() => {
          this.ADD_NOTICE('Credentials do not match');
          this.loading = false;
        });
    },
    async addToCart() {
      this.loading = true;
      const res = await this[$.ADD_TO_CART](this.getSignInCartItem);
      if (res.success) {
        this.ADD_NOTICE('Great choice ;), added to your cart ');
        this[$.SET_SIGNIN_CART_ITEM]({});
      }
      this.loading = false;
    },
  },
};
</script>
