<template>
  <b-card
    :img-src="require(`@/assets/img/pizza/${item.image}`)"
    :img-alt="item.title"
    img-top
    tag="article"
    :class="$s.card"
    class="mb-2">
    <b-card-title
      class="text-truncate"
      :title="item.title">
      {{ item.title }}
    </b-card-title>
    <b-card-text
      :class="$s.description"
      :title="item.description">
      {{ item.description }}
    </b-card-text>
    <b-row>
      <b-col cols="4">
        <h3 class="float-left">
          <b-badge variant="light">
            {{ item.price }}
          </b-badge>
        </h3>
      </b-col>
      <b-col>
        <b-input-group :class="$s.priceBlock">
          <b-form-input
            v-model="count"
            type="number"
            :disabled="loading"
            min="1" />
          <b-input-group-append>
            <b-button
              v-if="user===null"
              variant="info"
              @click="goToSignIn">
              Order
            </b-button>
            <b-button
              v-else
              variant="info"
              :disabled="loading"
              @click="addToCart">
              Order
            </b-button>
          </b-input-group-append>
        </b-input-group>
      </b-col>
    </b-row>
  </b-card>
</template>

<script>
import * as $ from '@/store/modules/PizzaList/actions-types.js';
import { mapActions, mapState, mapGetters } from 'vuex';
export default {
  name: 'PizzaCard',
  props: {
    item: {
      type: Object,
      required: true,
      default() {
        return {};
      },
    },
  },
  data() {
    return {
      loading: false,
      count: 1,
    };
  },
  computed: {
    ...mapState('auth', [
      'user',
    ]),
  },
  methods: {
    ...mapActions('PizzaList', [
      $.ADD_TO_CART,$.SET_SIGNIN_CART_ITEM,
    ]),
    async addToCart() {
      this.loading = true;
      const res = await this[$.ADD_TO_CART]({
        id: this.item.id,
        quantity: this.count,
      });
      if (res.success) {
        this.ADD_NOTICE('Great choice ;), added to your cart ');
      }
      this.loading = false;
    },
    goToSignIn(){
      var item={
        id: this.item.id,
        quantity: this.count,
      };
      this[$.SET_SIGNIN_CART_ITEM](item);
      this.$router.push({ name: 'SignIn'})
    }
  }
};
</script>

<style lang="stylus" module="$s">
line-clamp($numLines=1, $lineHeight=1.412)
  overflow: hidden;
  text-overflow: -o-ellipsis-lastline;
  text-overflow: ellipsis;
  display: block;
  max-height: ($numLines * $lineHeight)em ;
  /* autoprefixer: off */
  display: -webkit-box;
  -webkit-line-clamp: $numLines;
  -webkit-box-orient: vertical;

.card
  max-width: 100%;
.priceBlock
  min-width 115px
  max-width 100%
.description
  line-clamp(3)
  height:190px
</style>
