<template>
  <div id="app">
    <TheNavigation />
    <router-view />
  </div>
</template>
<script>
import TheNavigation from '@/components/TheNavigation';
export default {
  components: {
    TheNavigation,
  },
};
</script>

<style lang="stylus">
.text-truncate
  white-space: nowrap !important
  overflow: hidden !important
  text-overflow: ellipsis !important
  line-height: 1.1 !important
</style>
