<template>
  <b-navbar
    toggleable="lg"
    type="light"
    variant="light"
    class="mb-3">
    <b-navbar-brand
      href="#"
      :to="{name:'Home'}">
      Pizzitta
    </b-navbar-brand>

    <b-navbar-toggle target="nav-collapse" />

    <b-collapse
      id="nav-collapse"
      is-nav>
      <b-navbar-nav>
        <b-nav-item
          href="#"
          :to="{name:'Home'}">
          Home
        </b-nav-item>
      </b-navbar-nav>
      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">
        <CurrencyPicker />

        <template v-if="authenticated">
          <DropdownCart />

          <b-nav-item-dropdown right>
            <template v-slot:button-content>
              <em>{{ user.name }}</em>
            </template>
            <b-dropdown-item
              href="#"
              :to="{name:'Orders'}">
              Orders
            </b-dropdown-item>
            <b-dropdown-item
              href="#"
              @click.prevent="signOut">
              Sign Out
            </b-dropdown-item>
          </b-nav-item-dropdown>
        </template>
        <template v-else>
          <b-nav-item
            right
            :to="{name:'SignIn'}">
            Sign in
          </b-nav-item>
        </template>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import CurrencyPicker from './Components/CurrencyPicker';
import DropdownCart from './Components/DropdownCart';
export default {
  name: 'TheNavigation',
  components: {
    CurrencyPicker,
    DropdownCart,
  },

  computed: {
    ...mapGetters({
      authenticated: 'auth/authenticated',
      user: 'auth/user',
    }),
  },

  methods: {
    ...mapActions({
      signOutAction: 'auth/signOut',
    }),

    signOut() {
      this.signOutAction().then(() => {
        this.$router.replace({
          name: 'SignIn',
        });
      });
    },
  },
};
</script>

<style scoped>

</style>
